.navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.navbar-brand img {
    max-height: 50px;
    margin-left: 10px;
    content:url('../images/logo.png');
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-nav .nav-link {
    margin-left: 10px;
    font-weight: bold;
    margin-right: 10px;
    padding-right: 10px;
    color: #000000 !important;
}

.navbar-nav .nav-link:hover {
    color: #00A859 !important;
}

.profile-dropdown {
    position: relative;
}

.profile-link {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.profile-link .profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.handle {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 0;
}

.handle:hover {
    color: #00A859;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-item {
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.dropdown-item .dropdown-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-item:hover {
    background-color: #ffffff;
    color: #00A859 !important;
}

#loginbtn {
    margin-right: 10px;
    width: 100px;
    font-weight: bold;
    background-color: #029e53;
    border-color: #007d4c;
}

#loginbtn:hover {
    background-color: #007d4c;
    border-color: #005b37;
}
#clock {
    color: black;
    position: fixed;
    right: 0px;
    bottom: 0;
    width: 160px;
    height: 80px;
    margin: 0;
    padding: 20px 0;
    background-image: url('../images/clockbg2.png');
    background-size: 160px;
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    cursor: pointer;
    z-index: 50;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none !important;
    transition: transform 0.3s ease-in-out;
}

#toggle-btn {
    position: fixed;
    right: 160px;
    bottom: 24px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: grey;
    color: black;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 51;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}


@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin: 5px 0;
    }

    .profile-dropdown {
        order: 1;
        margin-left: auto;
        margin-right: 5px;
    }

    #loginbtn {
        order: 1;
        margin-left: auto;
        margin-right: 5px;
    }

    .navbar-toggler {
        order: 2;
        margin-right: 5px;
    }

    .collapse {
        order: 3;
    }
}
@media (max-width: 450px) {
    .navbar-brand img {
        max-height: 50px;
        margin-left: 10px;
        content:url('../images/logosm.png');
    }
}

@media (min-width: 992px) {
    .collapse.navbar-collapse {
        justify-content: center;
    }

    .navbar-nav .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }
}
